/* 
    Document   : styles
    Created on : 09 15, 13, 9:15:37 PM
    Author     : Reggie
    Description:
        To add styles to the database manipulation form
*/

:focus {
    outline: none;
}

body {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.contact_form h2, .contact_form label {
    font-family:Georgia, Times, "Times New Roman", serif;
}

.form_hint, .required_notification {
    font-size: 11px;
}

.contact_form ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.contact_form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.contact_form li:first-child, .contact_form li:last-child {
    border-bottom:1px solid #777;
}

.contact_form h2 {
    margin:0;
    display: inline;
}

.required_notification {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    float:right;
}

.contact_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}

.contact_form input {
    height:30px;
    width:220px;
    padding:5px 8px;
}

.contact_form textarea {
    padding:8px; 
    width:300px;
}

.contact_form button, input[type=submit] {
    margin-left:156px;
}

.contact_form input, .contact_form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.contact_form input:focus, .contact_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:70px;
}

/* Button Style */
input[type=submit] {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

input[type=submit]:hover {
    opacity:.85;
    cursor: pointer;
}

input[type=submit]:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}

input[type=reset] {
    background-color: #3a8cdf;
    background: -webkit-gradient(linear, left top, left bottom, from(#3a8cdf), to(#2e68a3));
    background: -webkit-linear-gradient(top, #3a8cdf, #2e68a3);
    background: -moz-linear-gradient(top, #3a8cdf, #2e68a3);
    background: -ms-linear-gradient(top, #3a8cdf, #2e68a3);
    background: -o-linear-gradient(top, #3a8cdf, #2e68a3);
    background: linear-gradient(top, #3a8cdf, #2e68a3);
    border: 1px solid #115497;
    border-bottom: 1px solid #2d547c;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #749ec8;
    -webkit-box-shadow: 0 1px 0 0 #749ec8 inset ;
    -moz-box-shadow: 0 1px 0 0 #749ec8 inset;
    -ms-box-shadow: 0 1px 0 0 #749ec8 inset;
    -o-box-shadow: 0 1px 0 0 #749ec8 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #194570;
}

input[type=reset]:hover {
    opacity:.85;
    cursor: pointer;
}

input[type=reset]:active {
    border: 1px solid #09335d;
    box-shadow: 0 0 10px 5px #17334f inset;
    -webkit-box-shadow:0 0 10px 5px #17334f inset ;
    -moz-box-shadow: 0 0 10px 5px #17334f inset;
    -ms-box-shadow: 0 0 10px 5px #17334f inset;
    -o-box-shadow: 0 0 10px 5px #17334f inset;
}

#divWrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    margin-top: 10px;
}